* {
    margin:0;
    padding:0;
}
nav {
    background-color: red;
    display: flex;
    justify-content: space-between;
    height:70px;
    align-items:center;
}
a {
    text-decoration:none;
    color: black;
}

ul,li {
    list-style:none;
}

.nav-links {
    /*background-color: green;*/
    display: flex;
    width:70%;
    justify-content: space-evenly;
}

.nav-brand {
    margin-left: 50px;
}